body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header, footer {
  background: #6528d8;
  color: white;
  padding: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 150px;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

.container {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
}
